*.iml
*/.idea
*/build/
*/out/
jmeter.log
Selenium/out/*
Selenium/\.gradle/
Selenium/ajcore*.txt
Selenium/\.allure/
Selenium/test-output/
Selenium/allure-results/
Selenium/src/main/resources/localekeys\.properties
Selenium/src/main/resources/logs
Selenium/datainput/setUpDataLogin*.csv
Selenium/datainput/*.data
Selenium/datainput/wfm/*.data
Selenium/datainput/bio/*.data
Selenium/stressTesting/**/img
Selenium/stressTesting/**/*png
Selenium/*.log
Selenium/src/test/resources/logs/*.log

scripts/*/__pycache__
scripts/*/output
scripts/*/.idea

scripts/sprint_report_assembler/jira login

gatling-demo/src/gatling/resources/simulation\.properties
